html, body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    padding: 10px 20px;
    color: white;
    width: 100%;
    box-sizing: border-box; 
}

.tituloHeader {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 5vh;
    font-style: normal;
    text-align: left;
    margin-left: 6vh;
    background-color: #000000;
}

.menu-horizontal {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px; 
    padding: 10px 20px;
}

.menu-horizontal li {
    display: inline;
}

.menu-horizontal a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: #ffffff;
    padding: 8px 12px;
    margin-left: 3vh;
    font-size: 3vh;
    border-radius: 2vh;
    transition: background 0.3s;
}

.menu-horizontal a:hover {
    background-color: #ddd;
    border-radius: 2vh;
}

.tituloPagina{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 5vh;
    font-style: normal;
    text-align: center;
    color: #000000;
}

.contenedor-cajas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 40px;
    flex-wrap: wrap; /* Para que se adapten en pantallas pequeñas */
}

.caja {
    display: flex;
    flex-direction: column;      /* apila los elementos verticalmente */
    justify-content: center;     /* centra verticalmente el contenido */
    align-items: center;         /* centra horizontalmente */
    height: 400px;               /* define altura fija para centrar dentro de ella */
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}

.caja button {
    text-align: center;
    background-color: #000;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.caja button:hover {
    background-color: #444;
}

.imagen-proyecto1 {
    width: 120px;         /* o un valor fijo como 200px */
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}